# Olympics data analysis
This is the first assignment of the [Open Machine Learning Course](https://bit.ly/2lLu3Qo).
Dataset attributes are:
* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [20]:
import pandas as pd
df = pd.read_csv('data/athlete_events.csv')

In [21]:
df.Season.value_counts()

Summer    222552
Winter     48564
Name: Season, dtype: int64

In [22]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

1. How old were the youngest male and female participants of the 1992 Olympics?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019

* 16 and 15
* 14 and 13
* 13 and 11
* -11 and 12-

In [ ]:
younger = df[df["Year"] == 1992].groupby("Sex")["Age"].min()
average = df[df["Year"] == 1992].groupby("Sex")["Age"].mean()
older = df[df["Year"] == 1992].groupby("Sex")["Age"].max()
(average, younger, older)

2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.

Hint: here and further if needed drop duplicated sportsmen to count only unique ones.

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019

* 0.2
* 1.5
* **2.5**
* 7.7

# Important
When I decided to filter by name I won't think about people with the same name. The ID is the relevant parameter here.

In [ ]:
males_2012 = df[(df["Sex"]=="M") & (df["Year"]==2012)]
males_2012.shape

In [ ]:
males_12_duplicated_name = males_2012[males_2012.duplicated("Name")]
males_12_duplicated_ID = males_2012[males_2012.duplicated("ID")]
print(f"males_12_duplicated_name: {males_12_duplicated_name.shape}, males_12_duplicated_ID {males_12_duplicated_ID.shape}")
duplicates_IDs = list(set(males_12_duplicated_name["ID"].unique()).difference(set(males_12_duplicated_ID["ID"].unique())))
duplicates_IDs

In [ ]:
duplicates_filter = males_2012["ID"].isin(duplicates_IDs)
# males_2012.mask(duplicates_filter)
duplicate_names = males_2012[duplicates_filter]["Name"].values
males_2012[males_2012["Name"].isin(duplicate_names)]

In [ ]:
males_2012.drop_duplicates("ID", inplace=True)
total_males_2012 = males_2012.shape[0]

In [ ]:
basket_males_2012 = males_2012[males_2012["Sport"]=="Basketball"]
total_basket_males_2012 = basket_males_2012.shape[0]

In [ ]:
print(f"The percentage is: {total_basket_males_2012 * 100 / total_males_2012:.1f}")

In [ ]:
query_test = df.query("NOC == 'COL'")
query_test.groupby("Year")

### Analysis:
On the 2012 olympics A total of 7105 participated, which 2.5% where basketball players.

3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019

* **171.8 and 6.5**
* 179.4 and 10
* 180.7 and 6.7
* 182.4 and 9.1

In [17]:
query = 'Sex=="F" & Year==2000 & Sport=="Tennis"'
female_2000_tenis = df.query(query)
print(len(female_2000_tenis.duplicated("ID", keep=False)))
female_2000_tenis.drop_duplicates("ID", inplace=True)
print(female_2000_tenis.shape)
female_2000_tenis

126
(89, 15)

c:\users\cristian.narvaez\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8604,4723,Sabine Appelmans (-Haubourdin),F,28.0,169.0,60.0,Belgium,BEL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
9980,5455,Shinobu Asagoe,F,24.0,168.0,58.0,Japan,JPN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
14116,7620,Olga Vladimirovna Barabanshchikova,F,20.0,176.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
15804,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,29.0,165.0,55.0,Indonesia,INA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
17397,9273,"Daniela ""Dja"" Bedov",F,17.0,171.0,52.0,Czech Republic,CZE,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
22757,11973,Cara Cavell Black (-Stephens),F,21.0,167.0,55.0,Zimbabwe,ZIM,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
25489,13317,Kristie Boogert,F,26.0,178.0,63.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
33916,17479,Els Callens,F,30.0,177.0,58.0,Belgium,BEL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
43109,22231,Amanda Coetzer,F,28.0,157.0,53.0,South Africa,RSA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
45026,23219,Joana Amorim Cortez dos Santos,F,21.0,170.0,62.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
48982,25246,Eleni Daniilidou,F,17.0,183.0,72.0,Greece,GRE,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
49579,25544,Lindsay Ann Davenport,F,24.0,191.0,79.0,United States,USA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
51332,26386,Rossana Mara Neffa de los Ros,F,24.0,160.0,53.0,Paraguay,PAR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
52383,26910,Nathalie Dechy,F,21.0,177.0,59.0,France,FRA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
53516,27457,Yelena Vyacheslavovna Dementyeva (-Afinogenova),F,18.0,180.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,Silver
56848,29135,Jelena Dokic,F,17.0,175.0,57.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
58393,29884,Ruxandra Maria Dragomir (-Ilie),F,27.0,170.0,58.0,Romania,ROU,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
65183,33367,Neyssa tienne,F,17.0,150.0,60.0,Haiti,HAI,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
66581,34066,Silvia Farina-Elia,F,28.0,171.0,62.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
74578,37884,Emmanuelle Gagliardi,F,24.0,171.0,60.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
75795,38478,Tathiana Garbin,F,23.0,175.0,65.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
78461,39821,Adriana Geri,F,24.0,168.0,52.0,Czech Republic,CZE,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
83375,42361,Rita Grande,F,25.0,176.0,68.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
87848,44540,Karina Habudov (-Clekov),F,27.0,170.0,60.0,Slovakia,SVK,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
88620,44924,Julie Halard-Dcugis,F,30.0,171.0,57.0,France,FRA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
98519,49861,Amanda Maria Cornelia Hopmans,F,24.0,167.0,57.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
98734,49967,Liezel Horn-Huber,F,24.0,178.0,72.0,South Africa,RSA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
99731,50463,Kvtoslava Hrdlikov (-Peschke),F,25.0,165.0,60.0,Czech Republic,CZE,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
101250,51184,Janette Husrov,F,26.0,168.0,55.0,Slovakia,SVK,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
108248,54714,Sonya Jeyaseelan,F,24.0,154.0,54.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194251,97515,Julie Pullin,F,24.0,173.0,65.0,Great Britain,GBR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
208583,104714,Mara Emilia Salerni,F,17.0,173.0,60.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
209623,105256,"Arnzazu Isabel Mara ""Arantxa"" Snchez Vicario",F,28.0,169.0,56.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
210041,105446,Benjamas Sangaram,F,25.0,164.0,52.0,Thailand,THA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
212676,106791,Barbara Schett (-Eagle),F,24.0,176.0,70.0,Austria,AUT,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
216037,108441,Monica Seles,F,26.0,179.0,70.0,United States,USA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,Bronze
216620,108759,Milagros Sequera (-Huss),F,19.0,170.0,58.0,Venezuela,VEN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
216764,108845,"Mara Luisa ""Magui"" Serna Barrera",F,21.0,167.0,65.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
226916,114035,Katarina Srebotnik,F,19.0,180.0,62.0,Slovenia,SLO,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
231031,115937,Rennae Stubbs,F,29.0,178.0,65.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
231411,116112,Paola Lorena Surez,F,24.0,170.0,64.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
231700,116233,Ai Sugiyama,F,25.0,161.0,56.0,Japan,JPN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
235492,118073,Silvija Talaja,F,22.0,173.0,58.0,Croatia,CRO,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
236107,118375,Tamarine Tanasugarn,F,23.0,165.0,60.0,Thailand,THA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
236801,118727,Olena Valeriyvna Tatarkova (-Feltham),F,24.0,174.0,52.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
244838,122587,Iroda Tulyaganova,F,18.0,172.0,63.0,Uzbekistan,UZB,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
247243,123786,Nirupama Vaidyanathan (-Sanjeev),F,25.0,170.0,62.0,India,IND,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
249394,124877,Dominique Van Roost (Monami-),F,27.0,171.0,56.0,Belgium,BEL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
250669,125549,"Miroslava ""Mirka"" Vavrinec (-Federer)",F,22.0,175.0,62.0,Switzerland,SUI,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
251343,125872,Mara Alejandra Vento-Kabchi,F,26.0,168.0,64.0,Venezuela,VEN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
257251,128819,Patricia Wartusch,F,22.0,176.0,67.0,Austria,AUT,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
257764,129099,Vanessa Webb,F,24.0,180.0,75.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
258909,129622,Weng Tzu-Ting,F,22.0,173.0,67.0,Chinese Taipei,TPE,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
261107,130667,Serena Jamika Williams,F,18.0,175.0,70.0,United States,USA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,Gold
261158,130696,Venus Ebony Starr Williams,F,20.0,185.0,75.0,United States,USA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,Gold
262853,131529,Lorna Woodroffe,F,24.0,168.0,67.0,Great Britain,GBR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
265721,132954,Yi Jingqian,F,26.0,168.0,60.0,China,CHN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
267820,133989,Anna Oleksandrivna Zaporozhanova,F,21.0,174.0,53.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270775,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270979,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN

In [29]:
mean_, std_ = female_2000_tenis["Height"].agg(['mean', 'std'])
print(f"mean: {mean_:.1f}, std: {std_:.1f}")

mean: 171.8, std: 6.6

In [27]:
female_2000_tenis["Height"].agg(['mean', 'std'])

mean    171.806818
std       6.563322
Name: Height, dtype: float64

In [30]:
female_2000_tenis["Height"].describe()

count     88.000000
mean     171.806818
std        6.563322
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019

* Judo
* Bobsleigh
* **Skeleton**
* Boxing

In [68]:
tallest_2006 = df[df["Year"]==2006]
tallest_2006.describe()
tallest_2006["Weight"].idxmax()
tallest_2006.loc[8102]

ID                           4476
Name            Patrick R. Antaki
Sex                             M
Age                            41
Height                        185
Weight                        127
Team                      Lebanon
NOC                           LIB
Games                 2006 Winter
Year                         2006
Season                     Winter
City                       Torino
Sport                    Skeleton
Event     Skeleton Men's Skeleton
Medal                         NaN
Name: 8102, dtype: object

In [64]:
tallest_2006[tallest_2006["Weight"]>79].sort_values("Weight", ascending=False)
tallest_2006[tallest_2006["Weight"]==127]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

5. How many times did John Aalberg participate in the Olympics held in different years?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019

* 0
* 1
* **2**
* 3

In [75]:
john = df.query("Name == 'John Aalberg'")
john["Year"].unique()

array([1992, 1994], dtype=int64)

6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019

* 0
* 1
* **2**
* 3

In [94]:
query = 'Year==2008 & Team=="Switzerland" & Sport=="Tennis"'
tennis_switz = df.query(query)
tennis_switz[tennis_switz["Medal"].notna()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

In [97]:
q = '(Year == 2008) & (Team == "Switzerland")'
(df.query(q)
.groupby(['Medal', 'Sport'])
.get_group(('Gold', 'Tennis'))
.shape[0])

2

7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in Medal column.

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019

* *Yes*
* No

In [121]:
query = 'Year==2016 & (Team=="Spain" | Team=="Italy")'
spain_italy_medals = df.query(query)
spain_italy_medals[spain_italy_medals["Medal"].notna()].groupby("Team").count()
# spain_italy_medals[spain_italy_medals["Medal"].notna()].groupby("Team").size()

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal
Team,,,,,,,,,,,,,,
Italy,70,70,70,70,70,70,70,70,70,70,70,70,70,70
Spain,43,43,43,43,43,43,43,43,43,43,43,43,43,43

8. What age category did the fewest and the most participants of the 2008 Olympics belong to?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019

* **[45-55] and [25-35) correspondingly**
* [45-55] and [15-25) correspondingly
* [35-45) and [25-35) correspondingly
* [45-55] and [35-45) correspondingly

## This is a way of creating categories from numerical data. See the second aggregation.

In [6]:
import numpy as np

In [7]:
age_cats_2008 = df[df["Year"]==2008].drop_duplicates("ID")
print(len(age_cats_2008.query("Age>=15 & Age <25")))
print(len(age_cats_2008.query("Age>=25 & Age <35")))
print(len(age_cats_2008.query("Age>=35 & Age <45")))
print(len(age_cats_2008.query("Age>=45 & Age <=55")))

4786
5382
630
78

In [8]:
def age_category(age):
    '''Maps age to four categories'''

    if 15 <= age < 25:
        return '[15, 25)'
    elif 25 <= age < 35:
        return '[25, 35)'
    elif 35 <= age < 45:
        return '[35, 45)'
    return '[45, 55]'


# map() applies age_category() function to every value in data.Age
age_cats_2008['age_category'] = age_cats_2008.Age.map(age_category)
(age_cats_2008 
.groupby('age_category')
.size())

age_category
[15, 25)    4786
[25, 35)    5382
[35, 45)     630
[45, 55]     101
dtype: int64

9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019

* **Yes, Yes**
* Yes, No
* No, Yes
* No, No

# I have to learn to use crosstab

In [50]:
(pd.crosstab(df.City, df.Season)
.loc[['Atlanta', 'Squaw Valley']])

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

In [32]:
summer_olympics_atlanta = df[(df["Season"]=="Summer") & (df["City"]=="Atlanta")]
winter_olympics_squaw = df[(df["Season"]=="Winter") & (df["City"]=="Squaw Valley")]

In [34]:
print(f"there were Summer Olympics held in Atlanta?{len(summer_olympics_atlanta)>0}")
print(f"there were Winter Olympics held in Squaw Valley?{len(winter_olympics_squaw)>0}")

there were Summer Olympics held in Atlanta?True
there were Winter Olympics held in Squaw Valley?True

10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?

For discussions, please stick to ODS Slack, channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019

* 3
* 10
* **15**
* 27

In [51]:
abs(df[df["Year"]==2002]
 ["Sport"].nunique()-
len(df[df["Year"]==1986]
 ["Sport"].unique()))

15